@charset "UTF-8";
/* debug 'Invalid US-ASCII character' */
body {
  margin: 0; }

.panel {
  counter-reset: rowIndex; }

/*--------------------
    区域 & 小方块
--------------------*/
#board {
  position: relative;
  margin: 50px auto;
  border: 2px solid;
  width: 398px;
  height: 398px;
  counter-reset: colIndex; }

.grid {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  width: 40px;
  height: 40px;
  background-color: mistyrose;
  /* [!!note] 注意 nth-child 里的 n 必须写在最前，否则不会生效 */
  /* 添加数字 */ }
  .grid.clearfix {
    clear: both; }
  .grid:nth-child(-n + 10):before {
    position: absolute;
    top: -24px;
    left: 8px;
    display: block;
    /* counter-reset by #board */
    counter-increment: colIndex;
    content: counter(colIndex);
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center; }
  .grid:nth-child(10n + 1):after {
    position: absolute;
    top: 8px;
    left: -24px;
    display: block;
    /* counter-reset by .panel */
    counter-increment: rowIndex;
    content: counter(rowIndex);
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center; }
  .grid.downmost {
    border-bottom: none;
    height: 38px; }
  .grid.rightmost {
    border-right: none;
    width: 38px; }

#square {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 8px solid salmon;
  width: 40px;
  height: 40px;
  background-color: lightpink;
  transition: all .5s; }
  #square:before, #square:after {
    position: absolute;
    top: -6px;
    display: block;
    content: '\a0';
    border-radius: 5px / 15px;
    width: 10px;
    height: 30px;
    background-color: salmon; }
  #square:before {
    left: 6px;
    transform: rotate(5deg); }
  #square:after {
    right: 6px;
    transform: rotate(-5deg); }

/*--------------------
    按钮 & 代码编辑
--------------------*/
.controller {
  overflow: hidden;
  margin: 0 auto;
  /*width: 420px;*/
  text-align: center; }
  .controller .btnWrapper {
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 500px; }
    .controller .btnWrapper input {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      margin: 0;
      border: none;
      border-radius: 3px;
      padding: 6px 0;
      width: 45%;
      background-color: steelblue;
      color: rgba(255, 255, 255, 0.8); }
      .controller .btnWrapper input.run {
        float: left; }
      .controller .btnWrapper input.refresh {
        float: right; }
  .controller .dirWrapper {
    clear: left;
    overflow-y: auto;
    margin: 0 auto;
    width: 500px;
    height: 200px; }
    .controller .dirWrapper label {
      position: relative;
      display: block;
      margin: 0 auto; }
      .controller .dirWrapper label ol {
        margin: 0;
        padding: 0;
        width: 10%;
        min-height: 200px;
        background-color: lightsteelblue;
        text-align: right;
        counter-reset: lineNum; }
        .controller .dirWrapper label ol li {
          position: relative;
          padding: 0 5px;
          list-style: none;
          /* &.current {
              // 当前行高亮显示
              background-color: aliceblue;
          } */ }
          .controller .dirWrapper label ol li:before {
            display: block;
            counter-increment: lineNum;
            content: counter(lineNum);
            font-family: Consolas;
            line-height: 20px; }
          .controller .dirWrapper label ol li.errorLine:after {
            position: absolute;
            top: 50%;
            left: 4px;
            display: block;
            content: '\a0';
            border-radius: 6px;
            width: 6px;
            height: 6px;
            background-color: indianred;
            transform: translate(0, -3px);
            -webkit-animation: twinkling 800ms ease-out infinite alternate;
            -moz-animation: twinkling 800ms ease-out infinite alternate;
            -ms-animation: twinkling 800ms ease-out infinite alternate;
            -o-animation: twinkling 800ms ease-out infinite alternate;
            animation: twinkling 800ms ease-out infinite alternate;
            /*这里使用了呼吸动画*/ }
      .controller .dirWrapper label textarea {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 10%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        padding: 0 10px;
        width: 90%;
        height: 100%;
        background-color: whitesmoke;
        line-height: 20px;
        font-family: Consolas;
        resize: none;
        outline: none; }

/*以下定义动画帧*/
@-webkit-keyframes twinkling {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes twinkling {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes twinkling {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes twinkling {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes twinkling {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#cheatSheet {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 240px;
  background-color: rgba(0, 0, 0, 0.2); }
  #cheatSheet h4 {
    text-align: center; }
  #cheatSheet ul {
    padding: 0 20px 0 30px;
    font-size: 14px; }
  #cheatSheet p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px 20px 20px;
    font-size: 13px; }

/*# sourceMappingURL=style.css.map */
